:root {
  --main-color: white;
  --accent-color: #f5d9d5;
}

html, body{
    overflow-x: hidden;
}

body {
    background: var(--main-color);
    font-family: "Potta One", sans-serif;
    position: relative;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

h2{
    text-align: center;
    margin-bottom: 2em;
}



#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;   
    border-bottom: 1px solid rgba(256, 256, 256, .3);
}

#mainNavbar .navbar-brand{
    padding-left: 1em;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: var(--main-color);
    transition: background 500ms;
}

#headingGroup span {
    color: #bf7e76;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.available-container{
    background: var(--accent-color);
    padding: 50px;
    position:relative;
}

.available-container:after {
    content:"";
    border-color: var(--main-color) transparent transparent transparent;
    border-style:solid;
    border-width:30px;
    position:absolute;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
}

.unavailable-container{
    background: var(--main-color);
    padding: 50px;
    position:relative;
}

.unavailable-container:after {
    content:"";
    border-color: var(--accent-color) transparent transparent transparent;
    border-style:solid;
    border-width:30px;
    position:absolute;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
}
.card-body img{
    padding: 0;
}

.card-container{
    width:75%;
    margin: auto;

}

.footer-container{
    background: #A9A9A9 ;
}


.container-gallery
{
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 5em;
}


/* gallery order */
.popup {
    width: calc(33.33% - 20px); /* Adjust width for 3 cards per row */
    max-width: 250px; /* Maximum width for each card */
    height: 50%; /* Adjust height as needed */
    margin: 10px; /* Adjust margins */
    position: relative;
    box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container-gallery {
        justify-content: flex-start;
    }

    .popup {
        width: calc(100% - 20px); 
    }
}


/* stacking order */
/*.popup
{
    width: 250px;
    margin: 0 -25px;
    position: relative;
    box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: .2s;
    cursor: pointer;
}*/


@media (hover: hover) {
    .popup:hover
    {
        -webkit-transition: .2s;
        transition: .2s;
        -webkit-transform: translateZ(5px) translateY(-20px) scale(1.05);
        transform: translateZ(5px) translateY(-20px) scale(1.05);
    }
}

/* Match modal body size to image dimensions */
.modal-body {
    padding: 0; 
    max-width: 100%; 
    max-height: 100vh; 
    overflow: hidden;
}

/* Ensure the image fills the modal body */
.modal-body img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}


@media (hover: hover) {
    .close {
      display: none;
    }
}

.close {
  position: absolute;
  right: 0;
  transition: 0.3s;
  z-index: 9!important;
  height: 70px;
}

.close:hover,
.close:focus {
  opacity: 0.9!important;
  text-decoration: none;
  cursor: pointer;
}

